#board {
	height: 308px;
	width: 308px;
	border: 1px solid black;
	margin: auto;
}

.O {
	font-size: 100px;
	color: #E8430C;
	opacity: .3;
	position: absolute;
	width: 100%;
	line-height: 90px;
	text-align: center;
	pointer-events: none;
}

.X {
	font-size: 100px;
	color: #2A69FA;
	opacity: .3;
	position: absolute;
	width: 100%;
	line-height: 90px;
	text-align: center;
	pointer-events: none;
}

button {
	margin: 10px 0 0 0;
}

.disabled-true {
	background-color: grey;
}

div .disabled-false {
	border: 3px solid #4FDBD4;
}

.disabled-true div {
	background-color: grey;
}

.sector {
	position: relative;
	float: left;
	height: 102px;
	width: 102px;
	border: 1px solid black;
}

.space {
	float: left;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	z-index: 1000;
}

.bottom {
	border-bottom: 1px solid black;
}

.central {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.board-container {
	height: 90px;
	width: 90px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 500;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
