<h1>Ultimate Tic Tac Toe</h1>

  <div data-ng-controller='PlayersCtrl'></div>
  <div id='board' data-ng-controller='GameCtrl'>
    <div id='sector0' class='sector disabled-{{gameboard.disabledSectors[0]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[0]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[0]'>O</div>
        <div data-ng-click='spaceSelect(0)' class='space bottom'>{{gameboard.spaces[0]}}</div>
        <div data-ng-click='spaceSelect(1)' class='space bottom central'>{{gameboard.spaces[1]}}</div>
        <div data-ng-click='spaceSelect(2)' class='space bottom'>{{gameboard.spaces[2]}}</div>
        <div data-ng-click='spaceSelect(3)' class='space bottom'>{{gameboard.spaces[3]}}</div>
        <div data-ng-click='spaceSelect(4)' class='space bottom central'>{{gameboard.spaces[4]}}</div>
        <div data-ng-click='spaceSelect(5)' class='space bottom'>{{gameboard.spaces[5]}}</div>
        <div data-ng-click='spaceSelect(6)' class='space'>{{gameboard.spaces[6]}}</div>
        <div data-ng-click='spaceSelect(7)' class='space central'>{{gameboard.spaces[7]}}</div>
        <div data-ng-click='spaceSelect(8)' class='space'>{{gameboard.spaces[8]}}</div>
      </div>
    </div>

    <div id='sector1' class='sector disabled-{{gameboard.disabledSectors[1]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[1]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[1]'>O</div>
        <div data-ng-click='spaceSelect(10)' class='space bottom'>{{gameboard.spaces[10]}}</div>
        <div data-ng-click='spaceSelect(11)' class='space bottom central'>{{gameboard.spaces[11]}}</div>
        <div data-ng-click='spaceSelect(12)' class='space bottom'>{{gameboard.spaces[12]}}</div>
        <div data-ng-click='spaceSelect(13)' class='space bottom'>{{gameboard.spaces[13]}}</div>
        <div data-ng-click='spaceSelect(14)' class='space bottom central'>{{gameboard.spaces[14]}}</div>
        <div data-ng-click='spaceSelect(15)' class='space bottom'>{{gameboard.spaces[15]}}</div>
        <div data-ng-click='spaceSelect(16)' class='space'>{{gameboard.spaces[16]}}</div>
        <div data-ng-click='spaceSelect(17)' class='space central'>{{gameboard.spaces[17]}}</div>
        <div data-ng-click='spaceSelect(18)' class='space'>{{gameboard.spaces[18]}}</div>
      </div>
    </div>

    <div id='sector2' class='sector disabled-{{gameboard.disabledSectors[2]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[2]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[2]'>O</div>
        <div data-ng-click='spaceSelect(20)' class='space bottom'>{{gameboard.spaces[20]}}</div>
        <div data-ng-click='spaceSelect(21)' class='space bottom central'>{{gameboard.spaces[21]}}</div>
        <div data-ng-click='spaceSelect(22)' class='space bottom'>{{gameboard.spaces[22]}}</div>
        <div data-ng-click='spaceSelect(23)' class='space bottom'>{{gameboard.spaces[23]}}</div>
        <div data-ng-click='spaceSelect(24)' class='space bottom central'>{{gameboard.spaces[24]}}</div>
        <div data-ng-click='spaceSelect(25)' class='space bottom'>{{gameboard.spaces[25]}}</div>
        <div data-ng-click='spaceSelect(26)' class='space'>{{gameboard.spaces[26]}}</div>
        <div data-ng-click='spaceSelect(27)' class='space central'>{{gameboard.spaces[27]}}</div>
        <div data-ng-click='spaceSelect(28)' class='space'>{{gameboard.spaces[28]}}</div>
      </div>
    </div>

    <div id='sector3' class='sector disabled-{{gameboard.disabledSectors[3]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[3]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[3]'>O</div>
        <div data-ng-click='spaceSelect(30)' class='space bottom'>{{gameboard.spaces[30]}}</div>
        <div data-ng-click='spaceSelect(31)' class='space bottom central'>{{gameboard.spaces[31]}}</div>
        <div data-ng-click='spaceSelect(32)' class='space bottom'>{{gameboard.spaces[32]}}</div>
        <div data-ng-click='spaceSelect(33)' class='space bottom'>{{gameboard.spaces[33]}}</div>
        <div data-ng-click='spaceSelect(34)' class='space bottom central'>{{gameboard.spaces[34]}}</div>
        <div data-ng-click='spaceSelect(35)' class='space bottom'>{{gameboard.spaces[35]}}</div>
        <div data-ng-click='spaceSelect(36)' class='space'>{{gameboard.spaces[36]}}</div>
        <div data-ng-click='spaceSelect(37)' class='space central'>{{gameboard.spaces[37]}}</div>
        <div data-ng-click='spaceSelect(38)' class='space'>{{gameboard.spaces[38]}}</div>
      </div>
    </div>

    <div id='sector4' class='sector disabled-{{gameboard.disabledSectors[4]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[4]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[4]'>O</div>
        <div data-ng-click='spaceSelect(40)' class='space bottom'>{{gameboard.spaces[40]}}</div>
        <div data-ng-click='spaceSelect(41)' class='space bottom central'>{{gameboard.spaces[41]}}</div>
        <div data-ng-click='spaceSelect(42)' class='space bottom'>{{gameboard.spaces[42]}}</div>
        <div data-ng-click='spaceSelect(43)' class='space bottom'>{{gameboard.spaces[43]}}</div>
        <div data-ng-click='spaceSelect(44)' class='space bottom central'>{{gameboard.spaces[44]}}</div>
        <div data-ng-click='spaceSelect(45)' class='space bottom'>{{gameboard.spaces[45]}}</div>
        <div data-ng-click='spaceSelect(46)' class='space'>{{gameboard.spaces[46]}}</div>
        <div data-ng-click='spaceSelect(47)' class='space central'>{{gameboard.spaces[47]}}</div>
        <div data-ng-click='spaceSelect(48)' class='space'>{{gameboard.spaces[48]}}</div>
      </div>
    </div>

    <div id='sector5' class='sector disabled-{{gameboard.disabledSectors[5]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[5]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[5]'>O</div>
        <div data-ng-click='spaceSelect(50)' class='space bottom'>{{gameboard.spaces[50]}}</div>
        <div data-ng-click='spaceSelect(51)' class='space bottom central'>{{gameboard.spaces[51]}}</div>
        <div data-ng-click='spaceSelect(52)' class='space bottom'>{{gameboard.spaces[52]}}</div>
        <div data-ng-click='spaceSelect(53)' class='space bottom'>{{gameboard.spaces[53]}}</div>
        <div data-ng-click='spaceSelect(54)' class='space bottom central'>{{gameboard.spaces[54]}}</div>
        <div data-ng-click='spaceSelect(55)' class='space bottom'>{{gameboard.spaces[55]}}</div>
        <div data-ng-click='spaceSelect(56)' class='space'>{{gameboard.spaces[56]}}</div>
        <div data-ng-click='spaceSelect(57)' class='space central'>{{gameboard.spaces[57]}}</div>
        <div data-ng-click='spaceSelect(58)' class='space'>{{gameboard.spaces[58]}}</div>
      </div>
    </div>

    <div id='sector6' class='sector disabled-{{gameboard.disabledSectors[6]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[6]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[6]'>O</div>
        <div data-ng-click='spaceSelect(60)' class='space bottom'>{{gameboard.spaces[60]}}</div>
        <div data-ng-click='spaceSelect(61)' class='space bottom central'>{{gameboard.spaces[61]}}</div>
        <div data-ng-click='spaceSelect(62)' class='space bottom'>{{gameboard.spaces[62]}}</div>
        <div data-ng-click='spaceSelect(63)' class='space bottom'>{{gameboard.spaces[63]}}</div>
        <div data-ng-click='spaceSelect(64)' class='space bottom central'>{{gameboard.spaces[64]}}</div>
        <div data-ng-click='spaceSelect(65)' class='space bottom'>{{gameboard.spaces[65]}}</div>
        <div data-ng-click='spaceSelect(66)' class='space'>{{gameboard.spaces[66]}}</div>
        <div data-ng-click='spaceSelect(67)' class='space central'>{{gameboard.spaces[67]}}</div>
        <div data-ng-click='spaceSelect(68)' class='space'>{{gameboard.spaces[68]}}</div>
      </div>
    </div>

    <div id='sector7' class='sector disabled-{{gameboard.disabledSectors[7]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[7]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[7]'>O</div>
        <div data-ng-click='spaceSelect(70)' class='space bottom'>{{gameboard.spaces[70]}}</div>
        <div data-ng-click='spaceSelect(71)' class='space bottom central'>{{gameboard.spaces[71]}}</div>
        <div data-ng-click='spaceSelect(72)' class='space bottom'>{{gameboard.spaces[72]}}</div>
        <div data-ng-click='spaceSelect(73)' class='space bottom'>{{gameboard.spaces[73]}}</div>
        <div data-ng-click='spaceSelect(74)' class='space bottom central'>{{gameboard.spaces[74]}}</div>
        <div data-ng-click='spaceSelect(75)' class='space bottom'>{{gameboard.spaces[75]}}</div>
        <div data-ng-click='spaceSelect(76)' class='space'>{{gameboard.spaces[76]}}</div>
        <div data-ng-click='spaceSelect(77)' class='space central'>{{gameboard.spaces[77]}}</div>
        <div data-ng-click='spaceSelect(78)' class='space'>{{gameboard.spaces[78]}}</div>
      </div>
    </div>

    <div id='sector8' class='sector disabled-{{gameboard.disabledSectors[8]}}'>
      <div class='board-container clearfix'>
        <div class='X' data-ng-show='gameboard.xshow[8]'>X</div>
        <div class='O' data-ng-show='gameboard.oshow[8]'>O</div>
        <div data-ng-click='spaceSelect(80)' class='space bottom'>{{gameboard.spaces[80]}}</div>
        <div data-ng-click='spaceSelect(81)' class='space bottom central'>{{gameboard.spaces[81]}}</div>
        <div data-ng-click='spaceSelect(82)' class='space bottom'>{{gameboard.spaces[82]}}</div>
        <div data-ng-click='spaceSelect(83)' class='space bottom'>{{gameboard.spaces[83]}}</div>
        <div data-ng-click='spaceSelect(84)' class='space bottom central'>{{gameboard.spaces[84]}}</div>
        <div data-ng-click='spaceSelect(85)' class='space bottom'>{{gameboard.spaces[85]}}</div>
        <div data-ng-click='spaceSelect(86)' class='space'>{{gameboard.spaces[86]}}</div>
        <div data-ng-click='spaceSelect(87)' class='space central'>{{gameboard.spaces[87]}}</div>
        <div data-ng-click='spaceSelect(88)' class='space'>{{gameboard.spaces[88]}}</div>
      </div>
    </div>

    <span data-ng-show='showWait'>Waiting...</span>
    <button class='btn btn-info' data-ng-hide='hideNew' data-ng-click='newgame()'>New Game</button>
    <button class='btn btn-danger' data-ng-show='showResign' data-ng-click='resign(game)'>Resign</button>
    <button class='btn btn-danger' data-ng-show='showWait' data-ng-click='cancel(game)'>Cancel Game</button>
    <!-- <button class='btn btn-info' data-ng-hide='gameboard.inProgress' data-ng-click='challengeFriend()'>Play a Friend</button> -->
    <a href="#/rules"><button class='btn btn-info' data-ng-click='rules()'>Rules</button></a>
    <span data-ng-show='showPlayingAs'>Playing as: </span><span data-ng-show='showX'>X</span><span data-ng-show='showO'>O</span>
    <button data-ng-click='clearcookie()'>Clear Cookies</button>
    <button data-ng-click='showcookie()'>Show Cookies</button>
    <div id='turnInfo'>
      <!-- {{turnInfo}} -->
    </div>
  </div>